 /* Reset */
 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }

 /* Variable */
 :root {
     --main-font: 'Montserrat', sans-serif;
     --button-font: 'Poppins', sans-serif;
     --title-font: 700 44px/54px var(--main-font);
     --header-font: 400 16px/28px var(--main-font);
     --header-button-font: 600 16px/normal var(--main-font);
     --sub--title-font: 400 18px/28px var(--main-font);
     --features-font: 700 36px/normal var(--main-font);
     --features-title-font: 600 22px/normal var(--main-font);
     --features-text-font: 500 16px/normal var(--main-font);
     --hero-button-01-font: 700 16px/normal var(--button-font);
     --title-03-font: 700 16px/26px var(--main-font);
     /* Colors */
     --white-color: #FFF;
     --brown-title-color: #2F281E;
     --light-brown-sub-title-color: #544837;
     --orange-color: #FF9900;
 }

 /* Body */

 body {
     font-family: var(--main-font);
     background-color: var(--white-color);
     margin: 0;
 }

 .wrapper {
     max-width: 1440px;
     margin: 0 auto;
 }


 /* Header section */
 .header {
     width: 1440px;
     padding: 17px 20px;
     display: flex;
     align-items: center;
     justify-content: center;
     margin-bottom: 100px;

 }

 .header__img {
     width: 200px;
     margin: 24px 200px 24px 120px;
 }

 .header__links {
     display: flex;
     gap: 20px;
 }

 .header__link {
     color: var(--brown-title-color);
     text-decoration: none;
     font: var(--header-font);
 }

 .header__buttons {

     display: flex;
     gap: 32px;
 }

 .header__button-01 {
     color: var(--brown-title-color);
     background-color: var(--white-color);
     font: var(--header-button-font);
     width: 110px;
     height: 46px;
     margin: 17px 10px 17px 200px;
     border-radius: 4px;
     border-color: var(--white-color);
     border: 0;
     border: 1px solid #BCD0E5;
 }

 .header__button-02 {
     color: var(--white-color);
     background-color: var(--orange-color);
     font: var(--header-button-font);
     width: 110px;
     height: 46px;
     margin: 17px 20px 17px 0;
     border-radius: 4px;
     border-color: var(--orange-color);

     border: 0;

 }

 /* Hero section */
 .hero {
     margin-top: 200px;
     margin-left: 150px;
     margin-bottom: 99px;
 }

 .hero__container {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     width: 1200px;
     margin: 0;
 }

 .hero__title {
     font: var(--title-font);
     width: 500px;
     color: var(--brown-title-color);
     margin-bottom: 30px;
 }

 .hero__text {
     font: var(--sub--title-font);
     width: 500px;
     color: var(--light-brown-sub-title-color);
     margin-bottom: 20px;
 }

 .hero__button-01 {
     width: 180px;
     height: 50px;
     background-color: var(--orange-color);
     font: var(--hero-button-01-font);
     color: #FFF;
     border-color: var(--orange-color);
     border: 0;


 }

 .hero__image {
     align-self: flex-end;
     margin-top: -400px;
     margin-right: -35px;
 }

 .features__title {

     text-align: center;
     margin: 0 auto;
     margin-bottom: 50px;
     font: var(--features-font);
     color: var(--brown-title-color);
     max-width: 539px;

 }

 .item__title {
     font: var(--features-title-font);
     color: var(--brown-title-color);
 }

 .item__text {
     font: var(--features-text-font);
     color: var(--light-brown-sub-title-color);
 }

 .features__item {
     /* padding: 10px; */
     width: 270px;

 }

 .features__items {
     margin: 0 auto;
     max-width: 1440px;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     margin-bottom: 70px;



 }

 .features__image {
     margin-bottom: 30px;
 }

 .item__title {
     margin-bottom: 16px;

 }

 .features__container {
     max-width: 1440px;
     margin: 0 120px;
     margin-bottom: 100px;

 }

 .features__button {
     width: 180px;
     height: 50px;
     background-color: var(--orange-color);
     font: var(--hero-button-01-font);
     color: #FFF;
     border-color: var(--orange-color);
     border: 0;
     margin: 0 auto;
     display: block;
     margin-bottom: 178px;

 }

 .benefits__container {
     width: 1200px;

     display: flex;
     justify-content: space-between;
     align-items: flex-start;
     margin: 0 120px;
 }

 .benefits__item {
     max-width: 562px;
     display: flex;
     flex-direction: column;

 }

 .benefits__text1 {
     margin-top: 10px;
     font: var(--features-text-font);
     color: var(--light-brown-sub-title-color);
 }

 .benefits__title01 {
     font: var(--title-03-font);
     color: var(--brown-title-color);
 }

 .benefits__title1 {
     margin-bottom: 20px;
     font: var(--features-font);
     color: var(--brown-title-color);

 }

 .benefits__text3 {
     margin-bottom: 30px;
 }

 .benefits__text2 {
     margin-bottom: 40px;
     font: var(--features-text-font);
     color: var(--light-brown-sub-title-color);
 }


 .benefits__container img {
     max-width: 562px;
     height: auto;
     margin-bottom: 300px;
 }

 .footer__container {
     max-width: 1440px;
     display: flex;
     align-items: flex-start;
     justify-content: space-between;
     margin: 0 120px;
 }

 .footer__logo {
     display: flex;
     flex-direction: column;
 }

 .footer__quick-links {
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     gap: 18px;
     color: var(--brown-title-color);

 }

 .footer__legal-stuff {
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     gap: 18px;
     color: var(--brown-title-color);
 }

 .footer__form {
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     gap: 25px;
     color: var(--brown-title-color);
 }

 .footer__button {
     width: 180px;
     height: 50px;
     background-color: var(--orange-color);
     font: var(--hero-button-01-font);
     color: #FFF;
     border-color: var(--orange-color);
     border: 0;
     margin: 0 auto;
     display: block;
     margin-bottom: 178px;
     margin-left: 0;
 }

 .footer__title {
     margin-bottom: 30px;
 }

 .footer__title1 {
     max-width: 280px;
     /* margin-bottom: 25px; */
 }

 .footer__link {
     text-decoration: none;
     font: var(--features-text-font);
     color: var(--light-brown-sub-title-color);
 }

 .footer__form1 {
     display: flex;
     color: #BCD0E5;
     font-weight: 400;
     line-height: normal;
     border-radius: 4px;
     border: 1px solid #BCD0E5;
     align-items: center;
     width: 340px;
     height: 50px;
     padding: 0 10px;



 }